/* This file is for your main application css. */

@import "./phoenix.css";

#instructions-area {
  min-height: 100px;
}

#player-color {
  visibility: hidden;
}
#player-color-value {
  background: black;
}

#player-instructions {
  visibility: hidden;
}

#disconnected-message {
  display: none;
  color: red;
}

#fullscreen-button {
  visibility: hidden;
}
