/* This file is for your main application css. */

@import "./phoenix.css";

#player-color {
  display: none;
}
#player-color-value {
  background: black;
}

#player-instructions {
  display: none;
}

#disconnected-message {
  display: none;
  color: red;
}
