<div id="waiting-message">
  Waiting for next game to start
</div>
<div id="player-instructions">
  Move with the arrows (or arrow keys). Shoot by tapping near the circle (or spacebar). (rotate with q and e)
</div>
<div id="disconnected-message">
  Not connected to server
</div>
<div id="player-color">
  Your ship is <span id="player-color-value"></span> (Look at the screen!)
</div>
<div id="fullscreen-button">Activate fullscreen (or press F)</div>
<div id="game"></div>
